<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <h2>Event List</h2>
    <%events.forEach((event)=> {%>
      <a href="/events/<%=event._id%>">
      <p><%=event.eventName%> </p>
      </a>
      <%=event.creationDate%>
      <form action="/events/<%=event._id%>" method=POST>
        <input type ="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete">
      </form>

    <%})%>
    <p> <a href="/events/add"><b>Add a new event</b></a>  ||
    <a href="/"><b>Back to Home</b></a></p>
  </body>
</html>
