<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>photoBooth</title>  <!-- this is the home page and would be where a user will login -->
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
     integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">
  </head>
  <body>
    <h3>Welcome to</h3>
    <img src="https://media1.tenor.com/images/b6bb9486eaf18fa9454320228a0af5c9/tenor.gif?itemid=8350131" height="150px" id="camera-left">
    <img src="https://media1.tenor.com/images/b6bb9486eaf18fa9454320228a0af5c9/tenor.gif?itemid=8350131" height="150px" id="camera-right" class="camera">
    <h1 id="title"><i>foto</i><b>BOOTH</b></h1>
    <h3><a href="/events"><b>Go to Events</b></a></h3>
        <!-- sample pics for decoration -->
        <img src="Images/Sample/sample1.jpg" height="300px" class="mySlides">
        <img src="Images/Sample/sample2.jpg" height="300px" class="mySlides">
        <img src="Images/Sample/sample3.jpg" height="300px" class="mySlides">
        <img src="Images/Sample/sample4.jpg" height="300px" class="mySlides">
        <img src="Images/Sample/sample5.jpg" height="300px" class="mySlides">
        <img src="Images/Sample/sample6.jpg" height="300px" class="mySlides">
    <footer>&copyfotoBooth</footer>
  </body>
</html>
