<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head> <!-- this shows the clicked upon photo in its own page for download or deletion -->
    <meta charset="utf-8">
    <title>photoBooth</title>
  </head>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <img src="https://res.cloudinary.com/fotobooth/image/upload/<%=photo%>" height="400px" class="mySlides">
    <form action="/events/<%=event._id%>/<%=photo%>" method=POST>
      <input type ="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete">
    </form>
    <nav class="navbar-nav"> <a href="/events/<%=event._id%>"><b>Back to Event</b></nav>
  </body>
</html>
