body {
margin: center;
text-align: center;
background-color: #1984c3;
color: #1984c3;
font-family: 'Luckiest Guy', cursive;
}

#title{ font-size: 100px;
}

 nav.navbar-nav{
  margin-top: 10px;
  margin:center;
  float:none;
  background-color: #eee;
}
.mySlides{
  border: #1984c3 solid 2px;
}

#info, #photos {
  margin-top: 30px;
}

footer {
  display: block;
  margin-top: 400px;
  background-color: #eee;
}

#eventTitle{
  margin-bottom: 30px;
    background-color: #eee;
}
#messages {
  list-style-type: none;
  width: 250px;
  position: relative;
  display: inline-block;
  top: 20px;
  margin-bottom: 20px;
  padding: 0px;
}

#messages li {
  padding: 5px 5px;
  border: solid black 1px;

}

#messages li:nth-child(odd) {
  background: #eee;

}

#messages li:nth-child(even) {
  background: #fff;
}

#add {
  background: #1984c3;;
  top: 70px;
  padding: 3px;
  width: 260px;
  left: 50px;
  display: inline;
  position: absolute;
}

#add input {
  padding: 3px;
  width: 250px;
  right: 0px;
  border: solid 2px #1984c3;;
  display: inline;
  position: relative;
}

h2 input {
  background: transparent;
  font-size: 40px;
  border: none;
  text-align: center;
  font-weight: bold;
}

p input {
  background: transparent;
  font-size: 15px;
  border: none;
  text-align: center;
  width: 50px;
}

#music {
  position: absolute;
  top: 80px;
  right: 180px;
}

#pic input{
  display: inline;
  width: 180px;
}

#pic {
  margin-top: 10px;
  background-color: #eee;
}
#pic input #addPhoto{
  width: 20px;
  display: inline;
  width: 100px;
}

#stop, #button{
  height: 80px;
  width: 120px;
  border-radius: 50%;
  position: absolute;
  background-color: #1984c3;
  color: #fff;
  top: 70px;
  right: 50px;
}
