body {background: lightblue;
margin: center;
text-align: center;
}
* {
  margin: 20;
  padding: 10;
  box-sizing: border-box;
}

#stop {
  visibility: hidden;
}

.mySlides{
  border: black solid 2px;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  position: relative;
  display: inline-block;
}

#messages li {
  padding: 5px 10px;
}

#messages li:nth-child(odd) {
  background: #eee;
}

#messages li:nth-child(even) {
  background: #fff;
}

#add {
  background: #000;
  margin-top: 0px;
  padding: 3px;
  width: 20%;
  margin-right: 50%;
  display: inline-block;
}

#add input {
  border: 0;
  padding: 10px;
  width: 90%;
  margin-right: .5%;
  border: solid 2px black;
  display: inline-block;
}
