body, .mybody {
margin: center;
text-align: center;
color: #1984c3;
background-color: #fff
}

.col-sm-3 {
  text-align: center;
  margin: 20px;
  padding: 20px;
}

#title{ font-size: 100px;
}

 nav, nav.navbar-nav{
  margin-top: 10px;
  margin:center;
  float:none;
  background-color: none;
  font-size: 15px;
}
.mySlides{
  border: #1984c3 solid 2px;
}

.info, #info, #photos {
  margin-top: 30px;
  color: #000;
}

.info {
  font-size: 40px;
  margin-bottom: 50px;
}

.container {
    background: #eee
}
#camera-left{ top: 50px;
  left: 130px;
  display: inline;
  position: absolute;
}

#camera-right{
  right: 130px;
  display: inline;
  position: absolute;
}

footer {
  display: block;
  margin-top: 200px;
  background-color: none;
  padding: 7px;
}

h2{
    background-color: none;
}

#eventTitle{
  margin-bottom: 30px;
    background-color: transparent;
      background: #eee
  }


#messages {
  list-style-type: none;
  width: 250px;
  position: relative;
  display: inline-block;
  top: 20px;
  margin-bottom: 20px;
  padding: 0px;
}

#messages li {
  padding: 5px 5px;
  border: solid black 1px;

}

#messages li:nth-child(odd) {
  background: #eee;

}

#messages li:nth-child(even) {
  background: #fff;
}

#add {
  background: #1984c3;;
  top: 70px;
  padding: 3px;
  width: 260px;
  left: 50px;
  display: inline;
  position: absolute;
}

#add input {
  padding: 3px;
  width: 250px;
  right: 0px;
  border: solid 2px #1984c3;;
  display: inline;
  position: relative;
}

.event {
  margin-bottom: 50px;
}
h2 input {
  background: none;
  font-size: 40px;
  border: none;
  text-align: center;
  font-weight: bold;
}

p input {
  background: none;
  font-size: 15px;
  border: none;
  text-align: center;
  width: 50px;
}
span{
  background-color:none;
  padding: 15px;
}
#music {
  position: absolute;
  top: 80px;
  right: 180px;
}

#pic input{
  display: inline;
  width: 180px;
}

#pic {
  margin-top: 10px;
  background-color: none;
}
#pic input #addPhoto{
  width: 20px;
  display: inline;
  width: 100px;
}

#stop, #button{
  height: 80px;
  width: 120px;
  border-radius: 50%;
  position: absolute;
  background-color: #1984c3;
  color: #fff;
  top: 70px;
  right: 50px;
}
